<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NLA iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3AFC6CAA1E6F529300F152FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFC6CBE1E6F529300F152FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3AFC6CC91E6F529300F152FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
